<%
  breadcrumb :staff_applications_full, @application
  @title = 'View Application'
%>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <%= render 'shared/application_sidebar', application: @application %>
  </div>

  <div class="col-md-9 col-sm-12">
    <% if @application.submitting? %>
        <div class="alert alert-warning">
          <strong>Warning</strong>
          This application has not been submitted yet.
        </div>
    <% end %>

    <%= render 'shared/application_profile', application: @application %>
    <%= render 'shared/application_long', application: @application %>

  </div> <!-- col -->
</div> <!-- row -->
