<% breadcrumb :staff_add_course %>
<% @title = 'Add College Course' %>

<div class="row">
  <div class="col-sm-3">
    <%= render 'staff/shared/courses_sidenav', page: :add %>
  </div>

  <div class="col-sm-9">
    <%= render 'form', staff_course: @staff_course, path: staff_courses_path %>
  </div>
</div>

