<% breadcrumb :staff_add_course %>
<% @title = 'Add College Course' %>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <%= render 'staff/shared/courses_sidenav', page: :index %>
  </div>

  <div class="col-md-9 col-sm-12">
    <%= render 'form', course: @course, path: staff_courses_path %>
  </div>
</div>

