<% breadcrumb :staff_show_college, @college %>
<% @title = 'Clearance' %>

<div class="row">
  <div class="col-xs-12">
    <h3 class="no-top-margin">Enable College Clearance</h3>

    <p>Here you can manage clearance for <strong><%= @college.name %></strong>. Clearance allows you to match students
    who have rejected applications with courses that have spaces left to fill. Emails will be sent to students notifying
    them of any clearance matches they have. They can then apply for courses in the normal manner.</p>

    <hr>

    <h4>Clearance Matches</h4>
    
  </div>
</div>