<% if current_user.staff? %>
  <% breadcrumb :staff_edit_my_college, @college %>
<% else %>
  <% breadcrumb :staff_edit_college, @college %>
<% end %>
<% @title = 'Edit College' %>

<h1>Edit College</h1>

<%= render 'form', college: @college, path: staff_college_path(@college) %>
<br>
<p>
  <%= link_to 'Show', staff_college_path(@college) %> |
  <%= link_to 'Back', staff_colleges_path %>
</p>
