<% breadcrumb :application %>
<% @title = 'Create Application' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Create Application</h3>
    <p>Here you will create your application, letting the colleges know all about you, your <strong>skills</strong>,
      <strong>qualities</strong>, and <strong>experience</strong>. Make sure the information you enter is as
      accurate as possible. You may be asked to provide evidence of your education
      and employment history, and will be asked to provide references.</p>

    <h3>Pricing</h3>
    <p>You can <strong>apply for</strong> a maximum of <strong>five college courses</strong>, the pricing is as
    follows:</p>
    <div class="panel panel-bg">
      <div class="panel-body no-bottom-padding">
        <dl class="dl-horizontal">
          <dt>Single Course:</dt>
          <dd>£10</dd>
          <dt>Multiple Courses:</dt>
          <dd>£20</dd>
        </dl>
      </div>
    </div>
    <p>You will be required to pay the amount before your application can be processed.</p>

    <h3>Decisions</h3>
    <p>Once submitted your application will be considered and, if successful, the colleges will make
      you an offer. You can then prioritise offers so as to select the college and course that's best
      for you. Once submitted you can sign back in to the site to track you application.</p>

    <div class="text-right">
      <p class="text-darkish small">When ready continue to the next section.</p>
      <%= link_to 'Next', applications_profile_path, class: 'next-button', role: 'button' %>
    </div>
  </div>
</div>
