<% breadcrumb :application_submit, @application %>
<% @title = 'Submit' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :submit} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Submit Application</h3>

    <div class="col-sm-12 text-right">
      <br>
      <p class="text-darkish small">When ready continue to the next section.</p>
      <%= button_to 'Submit', nil, method: :post, class: 'next-button' %>
    </div>
  </div>
</div>
