<h1>Editing Staff User</h1>

<%= render 'form', user: @staff_user, path: staff_user_path(@staff_user) %>

<%= link_to 'Show', staff_user_path(@staff_user) %> |
<%= link_to 'Back', staff_users_path %>
