<% breadcrumb :staff_users_new %>
<% @title = 'New Staff Member' %>

<p class="text-darkish">Enter details for a new staff member here. You will need to provide them with a password
to use when first signing in, which can then be changed by them later. A confirmation email will be sent to the user
inviting them to confirm their email account.</p>

<%= render 'form', user: @user, path: staff_users_path, show_password: true %>
