<% breadcrumb :staff_users_new %>
<% @title = 'New Staff Member' %>

<p class="text-darkish small">Enter details for a new staff member here. Once created a password will be generated and
  emailed to the staff member. Then will need to confirm their email address before being able to log in.</p>

<%= render 'form', user: @user, path: staff_users_path %>
