<% breadcrumb :staff_edit_category, @category %>
<% @title = 'Edit Category' %>

<p class="text-darkish small">Update the name of the category.</p>
<%= render 'form', category: @category, path: staff_category_path(@category) %>
