<%= form_tag(courses_path, method: 'get') do %>
  <div class="input-group">
    <input type="text" class="form-control" name="search" placeholder="Search course, category, or college..." value="<%= @search_term %>">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go</button>
    </span>
  </div>
<% end %>