<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Staff Home</h2>

        <p>You are logged in as a staff member, here are some options:</p>

        <ol>
          <li>Go fuck yourself.</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Latest Activity</h2>

        <ol>
          <li>Activity is absent.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
