<div class="jumbotron">
  <h2><%= current_staff.college_and_job %></h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>College Home</h2>
        <p>This is the staff section where you can blah blah...</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Latest Activity</h2>
      </div>
    </div>
  </div>
</div>
