<%
  breadcrumb :application_completed
  @title = 'Application Completed'
%>

<div class="jumbotron">
  <h2>Congratulations!</h2>
  <p class="small">Your application has been been submitted to your selected colleges.</p>
</div>

<p>Thank you for completing your application with Future Prospects. Your application will now be sent to your selected
colleges in order for a decision to be made. Due to the volume of applications received this can take several weeks.
Once all of the decisions have been made you will be notified. You will then be able to choose from your offers and
select the college and course that's right for you.</p>

<p>Until then, you can use the <%= link_to 'track application', decisions_path %> page to keep up-to-date with what's
  happening to your application.</p>