$('#education-list').html('<%= j render('education_list', schools: @application.schools) %>');
$('#form-errors').hide().html('<div class="alert alert-success">School successfully removed</div>').fadeIn('fast');
$('#new_school').trigger('reset');
registerButtons();