<% breadcrumb :application_qualifications, @school %>
<% @title = 'Edit Education' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @school.application, stage: :education_stage} %>
  </div>

  <div class="col-sm-9">
    <p><%= link_to 'Go back', applications_education_path(@school.application) %></p>
    <hr>

    <div class="row">
      <div class="col-xs-10">
        <h3 class="no-top-margin">Edit Education History</h3>
      </div>
      <div class="col-xs-2 text-darkish small text-right">
        <em>* Optional</em>
      </div>
    </div>

    <p class="text-darkish small">Edit the school, college, university, or other institution.</p>

    <%= render 'education_form', path: applications_education_update_path(@school) %>
  </div>
</div>
