<%
  breadcrumb :applications
  @title = 'Applications'
%>

<% if @applications.any? %>
  <ul>
    <% @applications.each do |application| %>
      <li><%= link_to 'View Application &mdash; '.html_safe + format_date(application.submitted_date), application_path(application) %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">
    There are no submitted applications.
  </div>
<% end %>