<%
  breadcrumb :applications_show, @application
  @title = 'View Application'
%>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="no-top-margin">Course Selection</h3>

        <%= render 'shared/course_selection', application: @application %>
      </div>
    </div>

    <%= render 'shared/application_show', application: @application %>
  </div>
</div>
