<% breadcrumb :staff_members_new %>
<% @title = 'New Staff Member' %>

<p class="text-darkish">Enter details for a new staff member here. You must supply the staff member with a password when
creating their account. They can then change the password upon signing in.</p>

<%= render 'form', member: @member, path: staff_members_path, show_password: true %>
