<div class="panel panel-default">
  <div class="panel-body">
    <h3 class="no-top-margin">Payment Stages</h3>
    <p><em>This section will walk you through the process of paying your application fee.</em></p>
    <ul class="list-group">
      <%= payment_stage_item 'Payment Method', stage == :payment_method, stage == :new || stage == :show %>
      <%= payment_stage_item 'Enter Payment Details', stage == :new, stage == :show %>
      <%= payment_stage_item 'Payment Confirmation', stage == :show %>
    </ul>
  </div>
</div>