<%
  breadcrumb :payments
  @title = 'Payment Transactions'
%>

<% if @payments.any? %>
  <p>This pages lists all of the payment transactions on your account.</p>
  <%= render 'shared/payments_table', payments: @payments %>
<% else %>
  <div class="alert alert-info">There are no transactions to display</div>
<% end %>