<%
  breadcrumb :staff_reports_colleges
  @title = 'Colleges Report'
%>

<p>You can view reports on the following colleges.</p>

<ul>
  <% @colleges.each do |college| %>
    <li><%= link_to college.name, staff_reports_college_path(college) %></li>
  <% end %>
</ul>