<%
  breadcrumb :staff_reports
  @title = 'Reports'
%>

<p>Here you can view the following reports:</p>

<p><%= link_to 'Course Applicants', staff_reports_courses_path %></p>
<p><%= link_to 'College Applications', staff_reports_colleges_path %></p>