<h1>Future Prospects - Clearance</h1>

<p>Hello <%= @student.full_name %>,</p>

<p>We're sorry that your previous application was unsuccessful, however you have qualified for clearance courses. This
  is where we match students who have received no offers to courses with spaces still left to fill.</p>

<p>Here are some recommended clearance courses you are eligible for.</p>

<ul>
  <% @courses.each do |course| %>
    <li><%= course.title %> - <%= course.college.name %></li>
  <% end %>
</ul>

<p>In order to view for and apply for clearance courses, please see the clearance section of the Future Prospects site:</p>

<p><%= link_to 'Browse Clearance', clearance_url %></p>

<p>We may contact you about more clearance courses in the future.</p>

<p>Sincerely,
  <br><br>
  Future Prospects</p>
