<h1>Future Prospects - Payment Received</h1>

<p><%= @student.full_name %>,</p>

<p>This email is to inform you that the application fee of
  <strong><%= number_to_currency @payment.amount_pounds, unit: '£' %></strong> has been paid.</p>

<p>This means that you application can now be processed and sent to your selected colleges for consideration. You will
be contacted when a decision has been made about a course you have applied for.</p>

<p>In order to track your application, please <%= link_to 'sign in', root_url %> to the Future Prospects site and use
  the Track Application option.</p>

<p>Sincerely,
  <br><br>
  Future Prospects</p>
