/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Important that variables comes before default bootstrap and that the theme (bootswatch) comes after.

@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootswatch";

/* Adds different styles for will_paginate */
@import "pagination";

@import "font-awesome-sprockets";
@import "font-awesome";


footer {
  clear: both;
  padding-bottom: 20px;
}

.left-border {
  border-left: solid #ddd 1px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.breadcrumbs {
  font-size: small;
}

.course-image {
  border: 1px solid #666;
}

.college-image {
  @extend .course-image;
  margin-bottom: 12px;
}

.college-header-image {
  @extend .course-image;
  margin-bottom: 25px;
}

.course-title {
  @extend .h3;
  margin-top: 6px;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.college-title {
  @extend .h3;
  margin-top: 0;
  font-weight: bold;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    @extend .h4;
  }
}

.next-button {
  @extend .btn;
  @extend .btn-success;
  width: 12em;
  border: 1px solid #2C3E50;
}

.add-button {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-sm;
  border: 1px solid #333333;
  padding-left: 12px;
  padding-right: 12px;
}

.text-darkish {
  color: #7b8a8b;
}

.panel-bg {
  background-color: cornsilk;
  border: 1px solid darkslategray;
}

.app-arrow {
  font-size: 15pt;
}

.app-tick {
  @extend .app-arrow;
  color: limegreen;
}

.education-item {
  @extend .list-group-item;
  border: 1px solid #888;
  background-color: #F7F7F7;
  padding-top: 14px;
  padding-bottom: 3px;
}

/* Styles for extra small mobile screens */
@media (max-width: 767px) {
  .course-item {
    text-align: center;

    .course-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .education-item {
    padding-bottom: 12px;
  }
}