/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Important that variables comes before default bootstrap and that the theme (bootswatch) comes after.
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";
@import "bootstrap-datepicker3";
@import "pagination"; // Adds different styles for will_paginate
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui/core.css";
@import "jquery-ui/menu.css";
@import "jquery-ui/autocomplete.css";

footer {
  clear: both;
  padding-bottom: 20px;
}

.left-border {
  border-left: solid #ddd 1px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ecf0f1;
}

.table-staff > thead > tr > th {
  padding-top: 0;
}

.slight-margin-bottom {
  margin-bottom: 8px;
}

.member-margin {
  margin-bottom: 4px;
}

.breadcrumbs {
  font-size: small;
}

#brand-image {
  margin-top: -4px;
}

.title-hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.course-image, .image-border {
  border: 1px solid #666;
}

.college-image {
  @extend .course-image;
  margin-bottom: 12px;
}

.college-header-image {
  @extend .course-image;
  margin-bottom: 25px;
}

.course-title {
  @extend .h3;
  margin-top: 6px;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.college-title {
  @extend .h3;
  margin-top: 0;
  font-weight: bold;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    @extend .h4;
  }
}

.next-button {
  @extend .btn;
  @extend .btn-primary;
  width: 12em;
  border: 1px solid #2C3E50;
}

.add-button {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
  border: 1px solid #333333;
  padding-left: 12px;
  padding-right: 12px;
}

.add-button-md {
  @extend .btn;
  @extend .btn-default;
  border: 1px solid #333333;
  padding-left: 12px;
  padding-right: 12px;
}

.text-darkish {
  color: #7b8a8b;
}

.app-arrow {
  font-size: 15pt;
}

.app-tick {
  @extend .app-arrow;
  color: limegreen;
}

.help-cursor {
  cursor: help;
}

.date-form-control {
  @extend .form-control;
  display: inline;
  padding: 0;
  width: auto;
}

.sort-arrow {
  font-size: 10pt;
}

blockquote {
  font-size: 14px;
}

/* Autocomplete menu item style */
.ui-menu-item {
  border-bottom: 1px solid #8aa4be;
  padding-bottom: 5px;
  padding-top: 5px;
}

li.home-category-item {
  margin-right: 3px;
  line-height: 1.6em;
}

/* Styles for extra small mobile screens */
@media (max-width: 767px) {
  .course-item {
    text-align: center;

    .course-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .course-button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .education-item {
    padding-bottom: 12px;
  }

  .courses-autocomplete {
    margin-bottom: 8px;
  }
}

/* Checkbox Bootstrap colors */
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#permissions-area {
  .form-group input[type="checkbox"] {
    display: none;
  }

  .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
  }

  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
  }

  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
  }
}

.home-stage-item {
  @extend .list-group-item;
  @extend .text-right;
}

.home-stage-item-active {
  @extend .home-stage-item;
  @extend .active;
  font-size: 16pt;
  color: white;
}

.home-stage-panel {
  @extend .panel;
  @extend .panel-default;
  border: 1px solid #c0c0c0;

  input[type=submit], a.link-button {
    @extend .btn;
    @extend .btn-primary;
    margin-top: 16px;
  }
}

.staff-navbar {
  background-color: #1E6583;
}

.app-navbar {
  @extend .navbar;
  @extend .navbar-default;
  border-radius: 0;
}

.application-info-list {
  @extend .list-unstyled;
  line-height: 1.6em;
}